#translationElement {
  display: inline-block;
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  /* border: 1px solid #000; */
  font-size: 16px;
  border-radius: 4px;
  box-shadow: 5px 5px 12px 0 rgba(0, 0, 0, 0.4);
}
